.texto {
    color: #fff;
}


.topo-table {
    background: #000;
    color: #fff;   
    border-bottom: 4px solid #4d4d4d;
}

table {
    width: 100%;
    margin-bottom: 40px;
}

.textotl {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.texto-pn {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.bt-personalite {
    width: 100px;
    font-weight: 600;
    color: #fff;
}