<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <p class="texto">{{ dataCep }}</p>

            <table class="table">
                <tr class="topo-table">
                  <th class="textotl">Logradouro/nome</th>
                  <th class="textotl">Bairro</th>
                  <th class="textotl">Localidade/UF</th>
                  <th class="textotl">CEP</th>
                </tr>
                <tr *ngFor="let detalhe of listDetalhes">
                  <td class="texto-pn">{{ detalhe.endereco }}</td>
                  <td class="texto-pn">{{ detalhe.bairro }}</td>
                  <td class="texto-pn">{{ detalhe.cidade }}/{{ detalhe.estado }}</td>
                  <td class="texto-pn">{{ detalhe.cep }}</td>
                </tr>
               
              </table>

              <button type="button" class="btn btn-info bt-personalite" [routerLink]="['/lugares']">Voltar</button>

       
        </div>
    </div>
</div>