<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <p class="texto">Detalhes</p>

            <table class="table">
                <tr class="topo-table">
                  <th class="textotl">Logradouro/nome</th>
                  <th class="textotl">Bairro</th>
                  <th class="textotl">Localidade/UF</th>
                  <th class="textotl">CEP</th>
                </tr>
                <tr>
                  <td class="texto-pn">Alfreds Futterkiste</td>
                  <td class="texto-pn">Maria Anders</td>
                  <td class="texto-pn">Germany</td>
                  <td class="texto-pn">Germany</td>
                </tr>
               
              </table>

              <button type="button" class="btn btn-info bt-personalite" [routerLink]="['/lugares']">Voltar</button>

       
        </div>
    </div>
</div>